{% extends 'base.html.twig' %}

{% block title %}JUST IN{% endblock %}

{% block body %}

<main class="container-fluid">
    <h1>JUST IN</h1>
    {% for toy in toys|slice(1, 4) %}
        <img src="{{ toy.picture }}" alt="{{ toy.title }}">
        <h2>{{ toy.title }}</h2>
        <p>{{ toy.price|format_currency('USD', {rounding_mode: 'floor'}) }}</p>
        {%  if  is_granted ( 'IS_AUTHENTICATED_FULLY' )  %}
            <a id="isFavorite" class="isFavoriteButton" href="{{ path('app_favorite', {id: toy.id})}}">
                <i class="bi {{ app.user.isInFavorite(toy) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
            </a>
        {%  endif  %}
        <a href="{{ path('app_show', {'id': toy.id}) }}">Show</a>
    {% endfor %}
</main>

{% endblock %}
