{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edit toys{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>EDIT {{ toy.title }}</h1>
        {{ form_start(toyEditForm) }}
        {{ form_widget(toyEditForm) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        {{ form_end(toyEditForm) }}
    </div>

{% endblock %}